/* CSS FILE FOR HOME PAGE SPECIFIC CONTENT */

/* Major division styles */
section{
	height:auto;
	margin:0px;
	margin-bottom:10px;
	width:95%;
	max-width:1000px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
header{
	width:100%;
	height:60px;
	background-color:#FAFAFA;
	margin:0px;
}

/* Large picture at the top of the page */
#main-header{
	width: 100%;
	height:auto;
	margin:none;
	padding:none;
}
#main-header-img{
	width:100%;
	margin:none;
	padding:none;
	display: block;
}
#header-title-frame{
	position:absolute;
	top:300px;
	width:100%;
	height:50px;
}
#header-title-text-area{
	color:#ffffff;
	position: relative;
	font-size: 20pt;
}
#header-title-text-area h1{
	color:#fff;
	width:100%;
	text-align: center;
	margin:0px;
}
#header-title-text-area h2{
	color:#fff;
	text-align: center;
	font-size: 16pt;
	margin:0px;
}

/* Major text sections */
#header-text-area{
	position:relative;
	top:120px;
	width:100%;
	height:240px;
	background-color:rgba(0,0,0,0.6);
	box-shadow: 0px 3px 5px 1px #000;
}
#content-area{
	margin:none;
	padding:none;
	background-size: 100% auto;
	background-position:0px 100px;
	background-attachment:fixed;
}
#wrapper{
	background-color:#F9F9F9;
	margin:0px;
}

/* Sections for content */

.article{
	width:100%;
	height:auto;
	margin-left: auto;
  margin-right: auto;
  background-color:#FAFAFA;
  padding-bottom:20px;
  padding-top:20px;
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #e0e0e0;
}
.article-image{
	width:40%;
	min-height: 400px;
	height:100%;
	margin:0px;
	padding:0px;
	clear:none;
}
.article-image:after{
	height:100%;
}
.article-image > img{
	position:relative;
	left:calc( (100% - 450px) * 0.4 );
	width:auto;
	height:100%;
	margin:0px;
	padding:0px;
}
.article-text{
	padding:30px;
	width:calc(100% - 60px);
}

/* 3 column article style */
.subarticle-wrapper{
	height:300px;
}
.subarticle{
	width:calc(33% - 40px);
	padding:0 20px 0 20px;
	float:left;
}

/* general text styles */
h2{

	font-size:24pt;
	color:#910087;
	line-height: 60px;
	vertical-align:middle;
	text-align: center;
	margin:0px;
	padding:0;
}
h3{
	

	font-size:16pt;
	color:#2196f3;
	margin:0;
	padding:0;
	
}
p{
	margin:0;
	padding:0;
	padding-left:20px;

	font-size:12pt;
	color:#000;
}

/* That nice blue edge */
.edge{
	border-style: solid;
	border-color: #2196f3;
  border-width:  0 0 0 5px;
  padding:10px 0 10px 0;
  margin:10px 0 10px 0;
}
